.nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 100px;
    background-color: $bg-secondary;
    margin-bottom: 30px;
    h1 {
        position: absolute;
        left: 50%;
        width: 100px;
        margin-left: -50px;
    }
    a {
        padding-right: 30px;
    }
}
