# JetBrains Applications
**/.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# static stuff
content/node_modules
content/dist/index.js
content/dist/main.css
npm-debug.log

# flask app configuration file
api/flask-app/configuration.py
