$white: #fefefe;
$black: #0e0e0e;
$blue: #00A2E8;
$green: #25AE19;

$light-gray: #eeeeee;

$background: $light-gray;
$bg-secondary: $white;
$text-color: $black;
$link-color: $blue;

$font-stack: "Open Sans", sans-serif;
$base-font-size: 14px;
$header-script: 'Oleo Script', sans-serif;
