.box {
    background-color: $bg-secondary;
    width: 467px;
    min-height: 133px;
    padding: 30px;
    margin-bottom: 30px;
}

.box-inner {
    margin-bottom: 10px;
    background-color: $bg-secondary;
    min-height: 133px;
    padding: 30px;
}
